trigger:
  branches:
    include:
      - main
    exclude:
      - refs/heads/release
      - refs/heads/pre-release
pr:
  - main

stages:
  - stage: checkBeforeBuild
    pool:
      name: CI
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
      - job: Linter
        displayName: Lint Project
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: "18.x"
          - task: CmdLine@2
            inputs:
              script: |
                npm install
                npm run lint
      - job: Formatting
        displayName: Formatting Check
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: "18.x"
          - task: CmdLine@2
            inputs:
              script: |
                npm install
                npm run fmt.check
  - stage: build
    pool:
      name: CI
    condition: eq(variables['Build.Reason'], 'PullRequest')
    dependsOn: checkBeforeBuild
    jobs:
      - job: Build
        displayName: Build
        steps:
          - task: NodeTool@0
            inputs:
              versionSource: "spec"
              versionSpec: "18.x"
          - task: CmdLine@2
            inputs:
              script: |
                npm install
                npm run build
          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: "./dist"
              artifact: "build"
              publishLocation: "pipeline"
  - stage: checkAfterBuild
    pool:
      name: CI
    condition: eq(variables['Build.Reason'], 'PullRequest')
    dependsOn: build
    jobs:
      - job: accessibility
        displayName: Accessibility Check
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: "18.x"
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: "current"
              artifactName: "build"
              targetPath: "./dist"
          - task: CmdLine@2
            displayName: Accessibility Check
            inputs:
              script: |
                npm install -g accessibility-checker
                npm run a11y.check
          - task: PublishPipelineArtifact@1
            condition: succeededOrFailed()
            inputs:
              targetPath: "./accessibility-check-results"
              artifact: "accessibility-check-results"
              publishLocation: "pipeline"
      - job: lighthouseci
        displayName: Lighthouse Check
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: "18.x"
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: "current"
              artifactName: "build"
              targetPath: "./dist"
          - task: CmdLine@2
            displayName: Lighthouse CI
            inputs:
              script: |
                npm install -g @lhci/cli@0.13.x
                lhci autorun
          - task: PublishPipelineArtifact@1
            condition: succeededOrFailed()
            inputs:
              targetPath: "./.lighthouseci"
              artifact: "lighthouse-results"
              publishLocation: "pipeline"
  - stage: pre_release
    pool:
      name: CD
    displayName: Pre-release
    dependsOn: []
    condition: and(eq(variables['Build.SourceBranch'], 'refs/heads/main'), eq(variables['Build.Reason'], 'IndividualCI'))
    jobs:
      - job: build
        displayName: Build
        steps:
          - checkout: self
            persistCredentials: true
            clean: true
          - task: NodeTool@0
            inputs:
              versionSpec: "18.x"
          - task: CmdLine@2
            inputs:
              script: |
                npm install
                npm run build
          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: "./dist"
              artifact: "pre-release-build"
              publishLocation: "pipeline"
          - task: CmdLine@2
            displayName: "commit changes"
            inputs:
              script: |
                git config --global user.email "can_yu@mutix.co"
                git config --global user.name "AzurePipeline"
                git checkout -b pre-release
                git add -f ./dist
                git commit -m "[skip ci] Pre-release build"
                git push -u -f origin pre-release
  - stage: release
    pool:
      name: CD
    displayName: Release
    dependsOn: []
    condition: and(eq(variables['Build.SourceBranch'], 'refs/heads/main'), eq(variables['Build.Reason'], 'Manual'))
    jobs:
      - job: build_release
        displayName: Build
        steps:
          - checkout: self
            persistCredentials: true
            clean: true
          - task: NodeTool@0
            inputs:
              versionSpec: "18.x"
          - task: CmdLine@2
            inputs:
              script: |
                npm install
                npm run build
          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: "./dist"
              artifact: "release-build"
              publishLocation: "pipeline"
          - task: CmdLine@2
            displayName: "Commit changes"
            inputs:
              script: |
                git config --global user.email "can_yu@mutix.co"
                git config --global user.name "AzurePipeline"
                git checkout -b release
                git add -f ./dist
                git commit -m "[skip ci] Release build"
                git push -u -f origin release
      - job: deploy_production
        dependsOn: build_release
        displayName: Deploy production
        steps:
          - task: GoTool@0
            inputs:
              version: "1.22.1"
          - task: CmdLine@2
            displayName: Install pinata-go-cli and auth
            inputs:
              script: |
                git clone https://github.com/PinataCloud/pinata-go-cli
                ls -al
                cd pinata-go-cli
                go build
                mv pinata ../
                cd ..
                ./pinata auth $(PINATA_JWT)
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: "current"
              artifactName: "release-build"
              targetPath: "./dist"
          - task: CmdLine@2
            name: pinata
            displayName: Publish to Pinata
            inputs:
              script: |
                name=`git log -n 1 --format=format:%h`
                cid=`./pinata upload --name $name --cid-only ./dist | tail -n 1`
                cidlist=`./pinata list | grep "ipfs_pin_hash" | cut -d '"' -f 4`
                count=`echo $cidlist | wc -l`
                if [ "$count" -gt 2 ]; then 
                  lastcid=`echo $cidlist | tail -n 1`
                  ./pinata unpin $lastcid;
                fi
                echo "##vso[task.setvariable variable=cid]$cid"
          - task: CmdLine@2
            displayName: Update DNS with CID
            inputs:
              script: |
                curl -X PATCH \
                  --url "https://api.cloudflare.com/client/v4/zones/$(ZONE_ID)/dns_records/$(DNS_RECORD_ID)" \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer $(CLOUDFLARE_API_TOKEN)" \
                  --data '{"content": "'dnslink=/ipfs/$(cid)'"}' -f -s > /dev/null
