/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-wrapper {
    box-sizing: content-box;
    max-width: 80rem;
    margin: 0 auto;
  }
}

@layer base {
  h1 {
    @apply text-5xl font-medium;
  }

  .h1-sub {
    @apply text-2xl font-medium;
  }

  h2 {
    @apply text-3xl font-medium;
  }

  .h2-sub {
    @apply text-lg font-medium;
  }

  h3 {
    @apply text-2xl font-medium;
  }

  h4 {
    @apply text-lg font-medium;
  }

  small {
    @apply text-sm font-normal;
  }
}

:root {
  view-transition-name: none;
}

html {
  @apply text-base font-normal leading-relaxed text-black;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    "PingFang TC",
    "Noto Sans TC",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

@media (max-width: 768px) {
  h1 {
    @apply text-4xl;
  }

  .h1-sub {
    @apply text-xl;
  }

  h2 {
    @apply text-2xl;
  }

  .h2-sub {
    @apply text-lg;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  small {
    @apply text-sm;
  }
}

body {
  padding: 0;
  line-height: inherit;
}

@page {
  size: 380mm 500mm;
  margin: 5mm 14mm;
}

@media print {
  html,
  body {
    width: 380mm;
    height: 500mm;
  }
}

header {
  position: relative;
}

@keyframes expand {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@layer utilities {
  .animate-expand {
    animation: expand 3s ease-in-out infinite;
  }
}

.loading-icon {
  width: 20px;
  height: 20px;
  border: 5px solid #d3420e;
  border-top: 5px solid white;
  border-radius: 50%;
}
